.header{
     width: 100%;
     position: relative;
     background-color: black; 
     display: flex;
     justify-content: space-around;
}

.header-buttons{
     display: flex;
}

.header-button{
     width: auto;
     margin-top: 1.7rem !important;
     margin-bottom: 1.7rem !important;
     margin-right: 1rem !important;
     margin-left: 1rem !important;
}

.a-button-header{
     text-decoration: none;
     color: white;
     font-size: 0.9rem;
     font-weight: 700;
}

.a-button-header:hover{
     cursor: pointer;
     color: #F05E54;
}

.heade-icon{
     height: fit-content;
     padding-top: 1rem;
}

.round{
     transform: rotate(180deg);
     transition-duration: 0.5s;
}

.normal{
     transform: rotate(0deg);
     transition-duration: 0.5s; 
}

.profile-buttom{
     position: relative;
     top: -8px;
}

.popup{ 
    position: absolute;
    right: 0%;
    width: 150px;
    height: 80px;
    top: 45px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    display: grid;
    padding: 10px 15px;
    justify-content: start;
}

#triangle-up {
     width: 0;
     height: 0;
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     border-bottom: 30px solid white;
     position: absolute;
     right: 0%;
     top: 1.6rem;
}

.item-popup{
     text-decoration: none;
     color: black;
     font-weight: 700;
     font-size: 0.9rem;
     margin-top: 10%;
}

.item-popup:hover{
     color: #F05E54 !important;
}

.img-icon-user{
     width: 50px;
     height: 50px;
     border-radius: 100%;
     margin-right: 0.8rem;
}